{# Cargar la libreria #}
{% load bootstrap5 %}
{# Cargar el css y el js de bootstrap #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# carga mensajes #}
{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENA - {{titulo}}</title>
</head>
<body>
    {% include 'partials/header.html' %}

    
    {% block contenido %}
    {% endblock contenido %}
        

    {% include 'partials/footer.html' %}

    
</body>
</html>